# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Node
node_modules/

# TypeScript
*.tsbuildinfo

# Editor
.idea/
.vscode/
*.swp
*.swo

# Local Env
.env
.env*.local

# Generated Native Folders (Expo Prebuild)
# If you are using "Prebuild" (CNG), you usually ignore these.
# If you have custom native code, comment these out.
/ios
/android

# Build Artifacts
*.apk
*.aab
*.apks