<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbFX8QrqsVWIkhdU4J5T3e1PUNn_ltIow</string>
	<key>GCM_SENDER_ID</key>
	<string>102281546087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geekypajis.tambolanumbers</string>
	<key>PROJECT_ID</key>
	<string>tambola-number-caller</string>
	<key>STORAGE_BUCKET</key>
	<string>tambola-number-caller.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102281546087:ios:d1390fb33568cc499407c2</string>
	<key>DATABASE_URL</key>
	<string>https://tambola-number-caller.firebaseio.com</string>
</dict>
</plist>